.label-sm {
  font-size: 12px;
  padding: 2px 4px;
}

.label-md {
  font-size: 14px;
  padding: 4px 6px;
}

.label-lg {
  font-size: 16px;
  padding: 6px 8px;
}

.label-xl {
  font-size: 18px;
  padding: 8px 10px;
}

.label-xxl {
  font-size: 22px;
  padding: 10px 14px;
}